---
layout: blog_feed
title: blog
---

{% for post in paginator.posts %}
<div class="posts">
    <h1>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h1>
    <p>
        <!--Add tags-->
        <span class="post-date"> {{ post.date | date: '%b %d, %Y' }}</span>
    </p>
    <p>
        {{ post.content }}
    </p>
    <hr class="post-separator">
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
          <span>&laquo; Prev</span>
    {% endif %}
      
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
        <span>Next &raquo;</span>
    {% endif %}
</div>
