---
layout: default
title: Blog
---

{% for post in paginator.posts %}
<div class="posts">
    <h3>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
    <p>
        {{ post.content }}
    </p>
    <hr>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
          <span>&laquo; Prev</span>
    {% endif %}
      
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
        <span>Next &raquo;</span>
    {% endif %}
</div>
